{% for video in videos %}
	{% set i = ( i | default(0) ) + 1 %}
	<div class="classement">
		<div class="name">
			<h4 class="music-classement">{{ i }}.</h4>
        	<h4 class="music-name">{{ video.name }}</h4>
		</div>
		<a href={{ video.url }}>{{ video.url }}</a>
		<p class="music-points">{{ video.points }}</p>
	</div>
{% endfor %}
